body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
}
.heading {
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}
.heading h1 {
    color: #32cd32;
    font-size: 50px;
}
.heading h2 {
    color: #267b26;
    font-size: 30px;
}
#particles-js {
    background: #00221a;
    height: 100vh;
}